.plant-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2em;
	border: 1px solid gray;
	
}

img {
	margin: 2em;
	border: 4px solid rgb(103, 214, 103);
}
.plant-name {
	font-size: 5em;
	padding-left: 1.3em;
}
h2 {
	font-size: 3em;
	margin-bottom: 0;
}
p {
	font-size: 1.5em;
}

.plant-info-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h4 {
	margin-bottom: 0;
}
button {
	padding: 1.5em;
	margin: 14em;
	margin-top: 0;
	margin-bottom: 4em;
	border-radius: 1em;
}

.buttons {
	display: flex;
	/* justify-content: baseline; */

}
