.plant-card {
	/* display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2em; */
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 4;
}

img {
	margin-top: 0;
	margin: 2em;
	border: 4px solid rgb(103, 214, 103);
}
.plant-name {
	font-size: 5em;
	padding-left: 1.3em;
	margin-bottom: 0;
	/* padding-bottom: 0; */
}
h2 {
	font-size: 3em;
	margin-bottom: 0;
}
p {
	font-size: 1.5em;
	margin-top: 0;
}

.plant-info-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h4 {
	margin-bottom: 0;
}
button {
	padding: 4em;
	margin: 2em;
}

.buttons {
	display: flex;
	justify-content: center;
}


:root {
	--maroon: rgb(104, 40, 15);
	--grey: rgb(169, 177, 167);
	--green: rgb(73, 102, 59);
	--orange: rgb(217, 119, 59);
	--transparent-orange: rgb(217, 119, 59, 0.5);
}



button {
	background-color: var(--grey);
	border-radius: 100px;
	box-shadow: var(--green) 0 -25px 18px -14px inset,
		var(--green) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
		var(--green) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
		var(--green) 0 16px 32px;
	color: green;
	cursor: pointer;
	display: inline-block;
	font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button:hover {
	box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
		rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
		rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
		rgba(44, 187, 99, 0.25) 0 16px 32px;
	transform: scale(1.05) rotate(-1deg);
}
