nav {
	background-color: var(--grey);
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	text-decoration: underline;
	margin: 0px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0rem;
	font-size: 2em;
}

nav li {
	text-align: center;
	justify-content: center;
}

a {
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--maroon);
}

@media only screen and (max-width: 600px) {
	nav {
		text-align: center;
	}
	nav ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	nav li {
		margin: 0.8em 0;
	}
}