body {
	margin: 0;
	font-family: 'Source Serif 4', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.heart {
	color: red;
}

.anti-heart {
	color: grey;
}

:root {
	--maroon: rgb(104, 40, 15);
	--grey: rgb(169, 177, 167);
	--green: rgb(73, 102, 59);
	--orange: rgb(217, 119, 59);
	--transparent-orange: rgb(217, 119, 59, 0.5);
}
