* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.modal-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    border-bottom: 1px solid var(--maroon);
    width: 200px;
}

.form {
    display: grid;
}

.column-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.choices {
    font-size: 15px;
    color: darkslategrey;
    padding-top: 5px;
}

.submit-btn {
    width: 100px;
    height: 20px;
    background-color: var(--orange);
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.cancel-btn {
    color: var(--orange);
}
.flower {
    width: 70px;
}

input[type=text] {
    border-radius: 5px;
    border: none;
}

input[type=text]:focus {
    outline: none;
}

.modalBtn {
    color: var(--orange);
}

.modal__radio-name {
    margin-right: 10px;
}