* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.modal-bg {
    background-image: url('../../../public/assets/meritt-thomas-sbkdilomylc-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--grey);

}

.form {
    display: grid;
}
.choices {
    font-size: 15px;
    color: darkslategrey;
}

.submit-btn {
    width: 100px;
    height: 20px;
    background-color: var(--orange);
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.cancel-btn {
    color: var(--orange);
}
.flower {
    width: 70px;
}

input[type=text]:focus {
    outline: none;
}
