.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 5rem;
}

.card-image {
	float: left;
	width: 35%;
	height: 40%;
	margin: 0;
	position: absolute;
	background-size: cover;
	border: 0;
}

.card-img-contain {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18rem;
	overflow: hidden;
}

.card {
	background-color: var(--transparent-grey);

	padding: 0;
	margin: 2rem;
}

.card-name {
	font-weight: 200;
	font-size: 2rem;
	display: block;
}

.anti-heart {
	padding: 0;
	margin: 0;
	border: 0;
}

/* .heart {
	position: absolute;
    z-index: 2;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
} */

.non-heart {
	/* border: 1rem solid red; */
	color: grey;
}

.red-heart {
	/* border: 1rem solid blue; */
	color: red;
}

@media (min-width: 600px) {
	.card-img-contain {
		height: 18rem;
	}
	.card-image {
		width: 20%;
		height: 40%;
		margin: 0;
	}
	
	.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 5rem;
}
}
